Options -Indexes
ServerSignature Off

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<FilesMatch "^\.">
    Require all denied
</FilesMatch>

<FilesMatch "(?i)^(\.env|composer\.(json|lock)|.*\.(sql|log|ini|bak|dist))$">
    Require all denied
</FilesMatch>
